<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M47 FeelsCovidMan</title>
    <link rel="stylesheet" href="./css/bundle.css">

</head>

<body>
<div id="main">

    <ul id="navbar">
        <li><a class="btn active" href="#sick"><img src="/img/nav/sick.svg"></a></li>
        <li><a class="btn" href="#wow"><img src="/img/nav/wow.svg"></a></li>
        <li><a class="btn" href="#bored"><img src="/img/nav/bored.svg"></a></li>
        <li><a class="btn" href="#happy"><img src="/img/nav/happy.svg"></a></li>
        <li><a class="btn" href="#love"><img src="/img/nav/love.svg"></a></li>
        <li><a class="btn" href="#grumpy"><img src="/img/nav/grumpy.svg"></a></li>
        <li><a class="btn" href="#cry"><img src="/img/nav/cry.svg"></a></li>
        <li><a class="btn" href="#ahego"><img src="/img/nav/ahego.svg"></a></li>

    </ul>

    <section id="sick">
        <h2>sick</h2>
        <div class="img_cont">
            <img src="/img/weee.jpg" alt="">
        </div>
    </section>
    <section id="wow">
        <h2>wow</h2>
        <div class="img_cont">
            <img src="/img/grumpy.jpg" alt="">
        </div>
    </section>
    <section id="bored">
        <h2>bored</h2>
    </section>
    <section id="happy">
        <h2>happy</h2>
    </section>
    <section id="love">
        <h2>love</h2>
    </section>
    <section id="grumpy">
        <h2>grumpy</h2>
    </section>
    <section id="cry">
        <h2>cry</h2>
    </section>
    <section id="ahego">
        <h2>ahego</h2>
    </section>
    </div>

    <script src="./js/bundle.js"></script>
</body>

</html>