<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bundle.css">
</head>

<body>
    <section id="home_1">
        <div class="title_cont">
            <div class="volets">
                <div class="volet noir L"></div>
                <div class="blancs">
                    <div class="volet L"></div>
                    <div class="volet R"></div>
                </div>
                <div class="volet noir R"></div>
            </div>
            <img src="/img/corona.svg" alt="">
        </div>
    </section>
    <section id="peur_1">
    </section>
    <section id="peur_2">
    </section>
    <section id="peur_3">
    </section>
    <section id="peur_4">
    </section>
    <section id="sect_2">
        <div class="img_cont">
            <img src="/img/grumpy.jpg" alt="">
        </div>
    </section>
    <section id="sect_3">
    </section>
    <section id="sect_4">
    </section>

    <script src="/js/bundle.js"></script>
</body>

</html>