<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 M47</title>
    <link rel="stylesheet" href="./css/bundle.css">
</head>

<body>
    <section id="sect_1">
        <div>
            <h1>Covid-19 M47</h1>
            <p> ipsum dolor sit amet, consectetur adipisicing elit. Mollitia rem possimus libero non ducimus qui? Saepe
                corrupti
                maxime, deserunt aspernatur itaque nesciunt molestiae odit, quae beatae eius quaerat incidunt
                temporibus?
            </p>
        </div>
        <div class="img_cont">
            <img src="/img/weee.jpg" alt="">
        </div>
    </section>
    <section id="sect_2">
        <h2>Peur</h2>
        <div>
            <p> ipsum dolor sit amet, consectetur adipisicing elit. Mollitia rem possimus libero non ducimus qui? Saepe
                corrupti
                maxime, deserunt aspernatur itaque nesciunt molestiae odit, quae beatae eius quaerat incidunt
                temporibus?
            </p>
        </div>
        <div class="img_cont">
            <img src="/img/grumpy.jpg" alt="">
        </div>
        <div class="img_cont">
            <img src="/img/grumpy.jpg" alt="">
        </div>
        <div class="img_cont">
            <img src="/img/grumpy.jpg" alt="">
        </div>
        <div>
            <p> ipsum dolor sit amet, consectetur adipisicing elit. Mollitia rem possimus libero non ducimus qui? Saepe
                corrupti
                maxime, deserunt aspernatur itaque nesciunt molestiae odit, quae beatae eius quaerat incidunt
                temporibus?
            </p>
        </div>
        
    </section>
    <section id="sect_3">
        <h2>Section 3</h2>
    </section>
    <section id="sect_4">
        <h2>Section 4</h2>
    </section>

    <script src="./js/bundle.js"></script>
</body>

</html>