<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bundle.css">
</head>

<body>
    <section id="home_1">
        <div class="container">
            <div class="title_cont">
                <div class="volets">
                    <div class="volet noir L"></div>
                    <div class="blancs">
                        <div class="volet L"></div>
                        <div class="volet R"></div>
                    </div>
                    <div class="volet noir R"></div>
                </div>
                <img src="/img/corona.svg" alt="">
            </div>
            </div>
    </section>
    <section id="peur_1">
        <div class="container">
            <h2>PEUR</h2>
            <p>Nous sommes le 16 mars 2020 et la sentence est tombée : nous allons devoir nous confiner. Personne n’a le
                temps de s’adapter, on écoute et on obéit. La légèreté des beaux jours, du temps où nous nous croyions
                immunisés à cette nouvelle maladie venant de contrées lointaines a été occultée par l'ampleur des
                mesures prises par la Confédération.</p>
        </div>
    </section>
    <section id="peur_2">
        <div class="container">
            <h2>Que se passe-t-il?</h2>
            <div>
                <p>La peur se matérialise dans ces kilomètres de rayons vides dans les supermarchés. L’anxiété se
                    cristallise dans ce torrent d’incertitude.</p>
                <p>Cette parenthèse désenchantée va provoquer en nous des montagnes russes émotionnelles en commençant par
                    celle de la peur.</p>
            </div>
        </div>
    </section>
    <section id="peur_3">
        <div class="container">
            <div class="img_cont">
                <img src="/img/grumpy.jpg" alt="">
                <img src="/img/grumpy.jpg" alt="">
                <img src="/img/grumpy.jpg" alt="">
            </div>
        </div>
    </section>

    <script src="/js/bundle.js"></script>
</body>

</html>