<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bundle.css">
</head>
<body>
    
 {{!--    {{> partials/myPartial text="I'm a partial"}} --}}
    
<div id="section1" class="section">
  <span>1.   </span>
</div>

<div id="section2" class="section">
  <span>2.  </span>
</div>

<div id="section3" class="section">
  <span>3.  </span>
</div>

<div id="section4" class="section">
  <span>4.   </span>
</div>


<script src="./js/bundle.js"></script>
</body>
</html>