<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M47 FeelsCovidMan</title>
    <link rel="stylesheet" href="./css/bundle.css">

</head>

<body>
    <div id="navbar">
        <span><a class="btn active" href="#affraid_1" data-slide-n="1"><img src="/img/nav/affraid.svg"></a></span>
        <span><a class="btn" href="#wow_1" data-slide-n="7"><img src="/img/nav/wow.svg"></a></span>
        <span><a class="btn" href="#bored_1"><img src="/img/nav/bored.svg"></a></span>
        <span><a class="btn" href="#happy_1"><img src="/img/nav/happy.svg"></a></span>
        <span><a class="btn" href="#love_1"><img src="/img/nav/love.svg"></a></span>
        <span><a class="btn" href="#grumpy_1"><img src="/img/nav/grumpy.svg"></a></span>
        <span><a class="btn" href="#cry_1"><img src="/img/nav/cry.svg"></a></span>
        <span><a class="btn" href="#ahego_1"><img src="/img/nav/ahego.svg"></a></span>
    </div>

    <section id="home_1">
        <div class="container">
            <div class="title_cont">
                <div class="volets">
                    <div class="volet noir L"></div>
                    <div class="blancs">
                        <div class="volet L"></div>
                        <div class="volet R"></div>
                    </div>
                    <div class="volet noir R"></div>
                </div>
                <img src="/img/corona.svg" alt="">
            </div>
        </div>
    </section>
    <section id="affraid_1">
        <div class="container">
            <h2>PEUR</h2>
            <p>Nous sommes le 16 mars 2020 et la sentence est tombée : nous allons devoir nous confiner. Personne n’a le
                temps de s’adapter, on écoute et on obéit. La légèreté des beaux jours, du temps où nous nous croyions
                immunisés à cette nouvelle maladie venant de contrées lointaines a été occultée par l'ampleur des
                mesures prises par la Confédération.</p>
        </div>
    </section>
    <section id="affraid_2">
        <div class="container">
            <h2>Que se passe-t-il?</h2>
            <div>
                <p>La peur se matérialise dans ces kilomètres de rayons vides dans les supermarchés. L’anxiété se
                    cristallise dans ce torrent d’incertitude.</p>
                <p>Cette parenthèse désenchantée va provoquer en nous des montagnes russes émotionnelles en commençant
                    par
                    celle de la peur.</p>
            </div>
        </div>
    </section>
    <section id="affraid_3">
        <div class="container">
            <div class="img_cont a">
                <img src="/img/mich/mich1.jpg" alt="">
            </div>
            <div class="img_cont b">
                <img src="/img/mich/mich2.jpg" alt="">
            </div>
            <div class="img_cont c">
                <img src="/img/mich/mich3.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="affraid_4">
        <div class="container">
            <div class="img_cont a">
                <img src="/img/mich/mich4.jpg" alt="">
            </div>
            <div class="img_cont b">
                <img src="/img/mich/mich5.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="affraid_5">
        <div class="container">
            <p class="a">“Au début de la pandémie, la HEIG-VD a stoppé les cours en présentiel donc j'étais rassuré-e :
                mes études ne rentraient pas en conflit avec ma préoccupation de bien faire. Puis il a fallu revenir à
                l’école tous les jours durant un mois. Vivant avec des gens à risque, j'étais terrifié-e de ne faire ne
                serait-ce qu'une seule erreur et qu'elle soit fatale.”</p>
            <p class="b">“J’avais de l'inquiétude concernant les cours. Nous ne savions pas trop à quelle sauce nous
                allions être mangés et comment cela allait se passer.”</p>
            <p class="c">“Je ne pense pas avoir eu peur. Cependant l'anxiété de ne pas avoir le contrôle, de ne pas
                savoir ce qu’il se passe et de ne pas pouvoir agir était grande.”</p>
        </div>
    </section>
    <section id="affraid_6">
        <div class="container">
            <h2>Podcast</h2>
            <audio controls="controls">
                <source src="https://docs.google.com/uc?export=download&id=1rdEDUX9nxb4j6rMuUdxBf_z1gL_kfhBS">
            </audio>
        </div>
    </section>

    <section id="wow_1">
        <div class="container">
            <h2>SURPRISE</h2>
            <p>L’annonce de confinement n’a pas été une surprise en soi. Il nous a fait angoisser mais au fil du temps,
                il nous a amené à faire de belles découvertes sur nous-mêmes et nos capacités. Nous avons pu être
                surpris.e par ce que nous avons pu être capable de faire.</p>
        </div>
    </section>
    <section id="wow_2">
        <div class="container">
            <h3 class="a">NOUVELLE PASSION</h3>
            <h3 class="b">NOUVEAU PASSE-TEMPS</h3>
            <h3 class="c">NOUVELLES ACTIVITÉS</h3>
        </div>
    </section>
    <section id="wow_3">
        <div class="container">
            <p class="a">Par exemple, certain.e.s ont pu s’essayer à la pâtisserie ou à la cuisine.</p>
            <p class="b">Le frigo est plein pour certain.e.s prévoyant.e.s : les repas ont été définis.</p>
            <p class="c">Pour les autres, c’est l’improvisation. Nous avons pu être étonné.e de nous découvrir des capacités.</p>
        </div>
    </section>

    <section id="bored_1">
        <h2>bored</h2>
    </section>
    <section id="happy_1">

        <ul class="c-rainbow">
            <li class="c-rainbow__layer c-rainbow__layer--white">Happy !</li>
            <li class="c-rainbow__layer c-rainbow__layer--orange">Happy !</li>
            <li class="c-rainbow__layer c-rainbow__layer--red">Happy !</li>
            <li class="c-rainbow__layer c-rainbow__layer--violet">Happy !</li>
            <li class="c-rainbow__layer c-rainbow__layer--blue">Happy !</li>
            <li class="c-rainbow__layer c-rainbow__layer--green">Happy !</li>
            <li class="c-rainbow__layer c-rainbow__layer--yellow">Happy !</li>
        </ul>
        <p>avec youtube</p>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/JQLCpL03hHI?modestbranding=1&controls=0"
            frameborder="0">
        </iframe>

        <p>si on utilise le fichiers (lourdsameyr)</p>
        <video controls="controls" src="video/kekw.mp4">
            Your browser does not support the HTML5 Video element.
        </video>
    </section>
    <section id="happy_2">
    </section>
    <section id="happy_3">
        <p>depuis le drive</p>
        <iframe src="https://drive.google.com/file/d/1xIYLOmW_V4VK9QjdsQPEb2f8DE4iUVFV/preview" width="640"
            height="480"></iframe>
    </section>
    <section id="love_1">
        <h2>love</h2>
    </section>
    <section id="grumpy_1">
        <h2>grumpy</h2>
    </section>
    <section id="cry_1">
        <h2>cry</h2>
    </section>
    <section id="ahego_1">
        <h2>ahego</h2>
    </section>
    </div>

    <script src="/js/bundle.js"></script>
</body>

</html>