@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

$anim1: 1;
$anim2: calc(#{$anim1} + 1); //2
$anim3: calc(#{$anim2} + 1); //3

$duration1: calc(1s / (var(--nvh) - 1));
$duration2: calc(2s / (var(--nvh) - 1));
@mixin animation-delay($sect_n) {
  animation-delay: calc(var(--scroll) * -1s + ((#{$sect_n} - 1) * (1s / (var(--nvh) - 1))));
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  position: relative;
  background-color: tomato;
  animation: bg-color 1s linear 1 alternate paused forwards;
  animation-delay: calc(var(--scroll) * -1s);
  font-family: "Inter", sans-serif;
  font-size: 2em;

  h1,
  h2 {
    margin-top: 0;
  }
}

img {
  width: 100%;
}

section {
  height: 100vh;
}
#home_1 .container {
  position: fixed;
  .title_cont {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    animation: zoomThrough $duration1 linear 1 alternate paused forwards;
    @include animation-delay($anim1);
    img {
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      position: absolute;
      animation: fadeOut $duration1 linear 1 alternate paused forwards;
      @include animation-delay($anim1);
    }
    .volets {
      z-index: 2;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: auto fit-content(100vw) auto;
      grid-template-rows: auto;
      overflow: hidden;

      .volet {
        background-color: white;
        height: 100%;
        width: 50%;
      }
      .blancs {
        grid-area: 1 / 2 / span 1 / span 1;
        place-self: center center;
        height: 100%;
        width: calc(100vh * 1.76);
        max-width: 100vw;
        max-height: calc(100vw * 0.56);
        display: flex;
        .volet.L {
          --translate: -85vh;
          animation: slideThenFade $duration2 ease-in 1 alternate paused forwards;
          @include animation-delay($anim1);
        }
        .volet.R {
          --translate: 85vh;
          animation: slideThenFade $duration2 ease-in 1 alternate paused forwards;
          @include animation-delay($anim1);
        }
      }
      .noir {
        background-color: black;
        width: 100%;
      }
      .noir.L {
        width: 100%;
        grid-area: 1 / 1 / span 1 / span 1;
        place-self: center center;
      }
      .noir.R {
        width: 100%;
        grid-area: 1 / 3 / span 1 / span 1;
        place-self: center center;
      }
    }
  }
}
#affraid_1 .container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  h2 {
    opacity: 0;
    position: absolute;
    left: -30vw;
    top: 7vh;
    --translate: 35vw;
    animation: fadeSlideThenFade $duration2 linear 1 alternate paused forwards;
    @include animation-delay($anim1);
  }
  p {
    opacity: 0;
    position: absolute;
    width: 60vw;
    right: -30vw;
    bottom: 20vh;
    --translate: -35vw;
    animation: fadeSlideThenFade $duration2 linear 1 alternate paused forwards;
    @include animation-delay($anim1);
  }
}
#affraid_2 .container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  h2 {
    opacity: 0;
    position: absolute;
    right: -30vw;
    top: 7vh;
    --translate: -35vw;
    animation: fadeSlideThenFade $duration2 linear 1 alternate paused forwards;
    @include animation-delay($anim2);
  }
  div {
    opacity: 0;
    position: absolute;
    width: 60vw;
    left: -30vw;
    bottom: 20vh;
    --translate: 35vw;
    animation: fadeSlideThenFade $duration2 linear 1 alternate paused forwards;
    @include animation-delay($anim2);
  }
}
#affraid_3 .container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .img_cont {
    opacity: 0;
    width: 25%;
  }
  .img_cont.a,
  .img_cont.c {
    margin-top: -1000px;
    --translate: -1000px;
    animation: fadeSlideVertThenFadeSlide $duration2 linear 1 alternate paused forwards;
    @include animation-delay($anim3);
  }
  .img_cont.b {
    margin-top: 1000px;
    --translate: 1000px;
    animation: slideThenFade $duration2 linear 1 alternate paused forwards;
    @include animation-delay(2);
  }
}

@keyframes slideThenFade {
  0% {
    opacity: 0;
  }
  50% {
    transform: translate(var(--translate));
    opacity: 1;
  }
  99% {
    transform: translate(var(--translate));
    opacity: 0;
  }
  100% {
    transform: translate(var(--translate));
    opacity: 0;
    display: none;
  }
}
@keyframes fadeSlideVertThenFadeSlide {
  0% {
    opacity: 0;
  }
  50% {
    margin-bottom: var(--translate);
    opacity: 1;
  }
  99% {
    margin-bottom: calc(var(--translate) * 2);
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes zoomThrough {
  0% {
    transform: scale(1, 1);
  }
  99% {
    transform: scale(7, 7);
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeInThenOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes bg-color {
  0% {
    background-color: tomato;
  }
  33% {
    background-color: purple;
  }
  66% {
    background-color: blue;
  }
  100% {
    background-color: cyan;
  }
}

::-webkit-scrollbar {
  display: none;
}

//nav
#navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  z-index: 100;
  right: 10px;
  height: 100vh;

  span {
    img {
      height: 7vh;
      width: 7vh;
    }
  }
}
iframe{
  z-index: 300;
  position: relative;
}



$root: '.c-rainbow';

:root {
 --color-background: #31037D;
 
 --axis-x: 1px;
 --axis-y: 1rem;
 --delay: 10;
 
 --color-black: #000;
 --color-white: #fff;
 --color-orange: #D49C3D;
 --color-red: #D14B3D;
 --color-violet: #CF52EB;
 --color-blue: #44A3F7;
 --color-green: #5ACB3C;
 --color-yellow: #DEBF40;
 
 --color-foreground: var(--color-white);
 --font-name: Righteous;
}




#{$root} {
 counter-reset: rainbow;
 position: relative;
 display: block;
 
 list-style: none;
 
 padding: 0;
 margin: 0;
 
 &__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow; 
  font-size: 10vw;
  color: var(--text-color);

  text-shadow:
   -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
     1px 1px 0 var(--color-black),
   
     4px 4px 0 rgba(0, 0, 0, .2);
  
  animation: rainbow 1.5s ease-in-out infinite;
  
  @for $i from 1 through 7 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / var(--delay) * 1s);
    left: calc(var(--axis-x) * #{$i});
    z-index: -#{$i * 10};
   }
  }
  
  &:not(:first-child) {
   position: absolute;
   top: 0;
  }

  &--white  { --text-color: var(--color-white)}
  &--orange { --text-color: var(--color-orange)}
  &--red    { --text-color: var(--color-red)}
  &--violet { --text-color: var(--color-violet)}
  &--blue   { --text-color: var(--color-blue)}
  &--green  { --text-color: var(--color-green)}
  &--yellow { --text-color: var(--color-yellow)}
 }
}

@keyframes rainbow {
 0%, 100% {
  transform: translatey(var(--axis-y)); 
 }
 50% {
  transform: translatey(calc(var(--axis-y) * -1));
 }
} 